<h1>Change up your duck </h1>

<%= form_for @duck do |f| %>
    <%= f.label :student_id%>
    <%= f.collection_select :student_id, Student.all, :id, :name%>

    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :description%>
    <%= f.text_field :description%>

    <%= f.submit%>

<% end %>